* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
}

img.bg {
    position: absolute;
    height: 100%;
    min-width: 100%;
    z-index: -1;
}

.logo-section {
    min-width: 30%;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.373);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: fit-content;
}

.logo img {
    max-height: 150px;
}

.logo p {
    color: white;
    font-size: 4rem;
}

.credit {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}





.form-section {
    font-size: 1.5rem;
    height: 100%;
}
button {
    font-size: 1.5rem;
}

.header {
    margin: 80px 0;
    padding: 10px 20px;
}

.form {
    padding: 10px 20px;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);

    margin-bottom: 50px;
}

form {
    display: grid;
    grid-template:
            "a b" 1fr
            "c d" 1fr
            "e f" 1fr
            / 300px 300px;
    justify-content: left;
    column-gap: 90px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 20px 0;
}

form input {
    padding: 5px;
    border-radius: 2px;
    font-size: 1.5rem;
    width: 100%;
}

button {
    background-color: #596D48;
    color: white;
    padding:16px 31px;
    border-radius: 10px;
    cursor: pointer;
}

button, .form-section > p {
    margin-bottom: 30px;
    margin-left: 20px;
}