* {
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    height: 100vh;
}

.left {
    color: white;

    background-image: url(images/background.jpg);
    background-repeat: no-repeat;

    padding: 50px 0px 10px 0px;

    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: space-between;

    min-width: 30vw;
    max-width: 30vw;
}

.left .logo {
    background-color: rgba(0, 0, 0, 0.327);
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 100%;

    padding: 20px 0;

    gap: 20px;

    font-size: 4.9rem;
}

.logo img {
    max-width: 130px;
}

.left .credits {
    text-align: center;
}


.right {
    padding: 50px 20px 50px 0px;
}

.right .intro {
    padding-left: 50px;

    font-weight: bold;
    font-size: 1.5rem;

    margin-bottom: 80px;
}

.right .mid {
    padding-left: 50px;
}

form {
    margin-top: 30px;

    margin-bottom: 50px;

    padding-right: 60%;
}

form .inp {
    flex: 1 0 40%;

    display: flex;
    flex-direction: column;

}


form .inps {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

form button {
    margin-top: 30px;
    background-color: green;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;

    color: white;
    font-size: 1.5rem;

    cursor: pointer;
}