@font-face {
    font-family: Norse-Bold;
    src: url("./fonts/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    height: 100%;
}

.left {
    color: white;

    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 50px 0px 10px 0px;

    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: space-between;

    min-width: 30vw;
    max-width: 30vw;
}

.left .logo {
    font-family: Norse-Bold, sans-serif;

    background-color: rgba(0, 0, 0, 0.327);
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 100%;

    padding: 20px 0;

    gap: 20px;

    font-size: 4.9rem;
}

.logo img {
    max-width: 130px;
}

.left .credits {
    text-align: center;
}


.right {
    padding: 50px 20px 0px 0px;
}

.right .intro {
    padding-left: 50px;

    margin-bottom: 50px;

    font-weight: bold;
    font-size: 1.5rem;
}

.right .mid {
    padding-left: 50px;
}

form {
    font-size: 0.9rem;

    text-transform: uppercase;

    border: 1px solid rgb(95, 95, 95);

    border-radius: 7px;

    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.25);

    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50%;
    padding: 20px 20px;
}

form input {
    border-radius: 6px;
    padding: 0 5px;
    border: 1px solid gray;

    height: 20px;
}

form .inp {
    flex: 1 0 40%;

    display: flex;
    flex-direction: column;

}

form .inps {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

form button {
    margin-top: 30px;
    background-color: green;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;

    color: white;
    font-size: 1.5rem;

    cursor: pointer;
}

input:focus {
    border: 1px solid rgb(3, 8, 255);
}

@media only screen and (max-width: 800px) {
    form {
        margin-right: 5%;
    }
}